[Unit]
Description=Nagios nrpe plugin
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/bin/nrpe -c /etc/nagios/nrpe.cfg -d
RemainAfterExit=yes
PIDFile=/var/run/nrpe.pid
TimeoutSec=60

[Install]
WantedBy=multi-user.target
