[Unit]
Description=O2CB cluster services
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=@DATADIR@/ocfs2/o2cb start
ExecStop=@DATADIR@/ocfs2/o2cb stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
